$out-of-range-color: lighten(#333, 40%) !default;
$out-of-range-bg-color: lighten(#333, 70%) !default;

$calendar-border: #f5f5f5 !default;
$cell-border: #fafafa !default;

$border-color: #f5f5f5 !default;

$segment-width: percentage(math.div(1, 7)) !default;

$time-selection-color: white !default;
$time-selection-bg-color: rgba(0, 0, 0, 0.5) !default;
$date-selection-bg-color: rgba(0, 0, 0, 0.1) !default;

$event-bg: #2196f3 !default;
$event-border: darken(#2196f3, 10%) !default;
$event-outline: #1e88e5 !default;
$event-color: #fff !default;
$event-border-radius: 5px !default;
$event-padding: 2px 5px !default;
$event-zindex: 4 !default;

$btn-color: #607d8b !default;
$btn-bg: #fff !default;
$btn-border: #cfd8dc !default;

$current-time-color: #66bb6a !default;

$rbc-css-prefix: rbc-i !default;

$today-highlight-bg: #eceff1 !default;
